<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Krona+One&family=Unbounded:wght@200..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/1style.css" />
    <title>Car Service</title>
  </head>
  <body>
    <main class="main1">
      <div class="main_title">
        <div class="header">
          <button class="enter">
            <a href="3enter.html"><h2>Войти</h2></a>
          </button>
          <button class="registration">
            <a href="2reg.html"><h2>Регистрация</h2></a>
          </button>
        </div>
        <div class="full">
          <div class="krona-one-regular">
            <img src="img/svg/Logo.svg" alt="logo" class="Logo" />
            <h1 class="Zagolovok">Car Service</h1>
          </div>
          <h1 class="Podzagolovok">
            <p>Ваш автомобиль в<br />надежных руках!</p>
          </h1>
          <div class="text">
            <h2>Сервис по заправке и<br />обслуживанию автомобилей</h2>
            <ul>
              <li>удобно</li>
              <li>качественно</li>
              <li>быстро</li>
            </ul>
          </div>
        </div>
        <button type="buy" id="buy"><h1>заказать</h1></button>
      </div>

      
        <footer class="footer">
            <div class="container">
                <div class="footer__wrapper">

                    <img src="img/svg/Logo.svg" alt="footerlogo" class="footerlogo" />
                    <div class="ooo">
                      <p>ООО "КИПУ"</p>
                      <p>ИНН 9709075179</p>
                      <p>ОГРН 1217700488763</p>
                      <p>+7 (978) 978 79 78</p>
                      <p>sewspot@bk.ru</p>
                    </div>
                    <div class="onas">
                      <div class="z"></div>
                      <a href="https://www.google.com">Заказчикам</a>
                      <a href="https://www.google.com">Исполнителям</a>
                      <a href="https://www.google.com">Тарифы</a>
                      <a href="https://www.google.com">О нас</a>
                    </div>
                    <div class="sotsseti">
                      <a href="https://vk.com"><img src="img/svg/Vk.svg" alt="Vk" /></a>
                      <a href="https://web.telegram.org"
                        ><img src="img/svg/Tg.svg" alt="Telegram"
                      /></a>
                      <a href="https://web.whatsapp.com/"
                        ><img src="img/svg/WhatsAap.svg" alt="WhatsAap"
                      /></a>
                      <a href="https://www.youtube.com/"
                        ><img src="img/svg/Ytube.svg" alt="YouTube"
                      /></a>
                  </div>
              </div>
            </div>

        </footer>
      </div>
    </main>
    <script src="a1.js"></script>
  </body>
</html>
