<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Krona+One&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/4style.css"> 
    <title>Car Service</title>
</head>
<body>
    <div class="profile__conteiner">
        <a href="1index.html"><img src="img/svg/Logo.svg" alt="logo" class="Logo"></a>
        <div class="profile">
            <h2>Иванов Иван Иванович</h2>
            <input type="text" placeholder="почта" id="email">
            <input type="text" placeholder="номер" id="phone">
            <p>дата регистрации</p>
            <input type="text" placeholder="" id="registrationDate">
        </div>
    </div>
    <div class="container">
        <div class="header">
            <button class="exit"><h2>Выйти</h2></button>
        </div>
        <div class="cars">
            <div id="carList">
                <div>название машины</div>
                <div>название машины</div>
                <div>название машины</div>
            </div>
            <button onclick="addCar()"><a href="6regauto.html">+ добавить авто</a></button>
        </div>
    </div>
</body>
</html>