<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Krona+One&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/3style.css"> 
    <link rel="stylesheet" href="css/footer.css"> 
    <title>Вход</title>
</head>
<body>
  
    <a href="/home"><img src="img/svg/Logo.svg" alt="logo" class="Logo"></a>
    <div class="login-container">
        <div class="icon">
            <img src="img/svg/door.svg" alt="Door">
        </div>
        <div class="login-box">
            <h2>Вход</h2>
            <% if (error) { %>
                <div class="error" style="color: red; text-align: center; margin-bottom: 10px;">
                    <%= error %>
                </div>
            <% } %>
            <form action="/auth/login" method="POST" id="loginForm">
            <h3 class="email">Введите эл.почту</h3>
            <input type="email" name="email" required>
            <h3 class="password">Введите пароль</h3>
            <input type="password" name="password" required>
            <div class="options">
                <label><input type="checkbox"> запомнить меня</label>
                <a href="/auth/reset-password">забыли пароль?</a>
            </div>
            <button type="submit"><h3 class="enter">Войти</h3></button>
          </form>
        </div>
    </div>
  

  <footer class="footer">
      <div class="footer__container">
          <div class="footer__wrapper">
              <img src="img/svg/Logo.svg" alt="footerlogo" class="footerlogo" />
              <div class="ooo">
                <p>ООО "КИПУ"</p>
                <p>ИНН 9709075179</p>
                <p>ОГРН 1217700488763</p>
                <p>+7 (978) 978 79 78</p>
                <p>sewspot@bk.ru</p>
              </div>
              <div class="onas">
                <div class="z"></div>
                <a href="https://www.google.com">Заказчикам</a>
                <a href="https://www.google.com">Исполнителям</a>
                <a href="https://www.google.com">Тарифы</a>
                <a href="https://www.google.com">О нас</a>
              </div>
              <div class="sotsseti">
                <a href="https://vk.com"><img src="img/svg/Vk.svg" alt="Vk" /></a>
                <a href="https://web.telegram.org"
                  ><img src="img/svg/Tg.svg" alt="Telegram"
                /></a>
                <a href="https://web.whatsapp.com/"
                  ><img src="img/svg/WhatsAap.svg" alt="WhatsAap"
                /></a>
                <a href="https://www.youtube.com/"
                  ><img src="img/svg/Ytube.svg" alt="YouTube"
                /></a>
            </div>
        </div>
      </div>
  </footer>

    <script src="a3.js"></script>
</body>
</html>