<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/4style.css" />
    <title>Личный кабинет</title>
  </head>
  <body>
    <div class="container__left">
      <a href="/"><img src="../img/svg/acc_back.svg" alt="back" class="acc_back"></a>
      <img src="../img/svg/acc_logo.svg" alt="profile" class="acc_logo" />
      <div class="profile">
        <h2><%= fio %></h2>
        <div class="profile_box">
          <input
            type="text"
            placeholder="номер"
            id="phone"
            value="<%= phone %>"
            readonly
          />
        </div>
      </div>
    </div>

    <div class="container__right">
      <div class="header">
        <button class="exit">
          <a href="/"><h1>Выйти</h1></a>
        </button>
      </div>


      <div class="cars">
        <h2>Ваши автомобили</h2>
        <div id="carList">
          <% cars.forEach(car => { %>
          <div><strong><%= car.mark %></strong> <%= car.model %></div>
          <% }); %>
        </div>
        <form action="/car" method="GET">
          <button type="submit">+ Добавить авто</button>
        </form>
      </div>
    </div>
  </body>
</html>
