<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Krona+One&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/5style.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Восстановление пароля</title>
</head>
<body>
    <form action="/auth/reset-password" method="POST">
    <a href="/home"><img src="/img/svg/Logo.svg" alt="logo" class="Logo"></a>
    <div class="container">
        <% if (error) { %>
            <div style="color: red;"><%= error %></div>
        <% } %>
    
        <% if (success) { %>
            <div style="color: green;"><%= success %></div>
        <% } %>
            <label for="new-password"><h3>Введите новый пароль</h3></label>
            <input type="password" id="new-password" name="newPassword" required>

            <label for="confirm-password"><h3>Повторите пароль</h3></label>
            <input type="password" id="confirm-password" name="confirmPassword" required>
            <div class="knopki">
                <button type="button" id="back-button"><a href="3enter.html"><h2>Назад</h2></a></button>
                <button type="submit" id="next-button"><a href="3enter.html"><h2>Далее</h2></a></button>
            </div>
        </form>
    </div>

    <script src="a5.js"></script>
</body>
</html>